[submodule "ai-cam"]
	path = ai-cam
	url = https://github.com/lboroWMEME-TeamProject/ai-cam
[submodule "Main-Pi"]
	path = Main-Pi
	url = https://github.com/lboroWMEME-TeamProject/Main-Pi
[submodule "Geiger-Counter"]
	path = Geiger-Counter
	url = https://github.com/lboroWMEME-TeamProject/Geiger-Counter
[submodule "EnviroSensor"]
	path = EnviroSensor
	url = https://github.com/lboroWMEME-TeamProject/EnviroSensor
